/* Reset & global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth; /* smooth scroll */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #111;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  position: relative; /* for underline animation */
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: yellow;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Hero section */
.hero {
  height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1699891730676-037bed3c1bed?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
   background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/* Hero animations */
@keyframes fadeUp {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
  animation: fadeUp 1s ease forwards;
}

.hero p {
  font-size: 20px;
  animation: fadeUp 1.5s ease forwards;
}

/* About section */
.about {
  padding: 60px 20px;
  text-align: center;
  background: #f4f4f4;
}

.about h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.about p {
  font-size: 18px;
  max-width: 600px;
  margin: auto;
}

/* Projects section */
.projects {
  padding: 60px 20px;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  padding: 30px;
  background: #222;
  color: white;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* Contact section */
.contact {
  padding: 60px 20px;
  text-align: center;
  background: #f4f4f4;
}

/* Footer */
.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Button animation */
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: orange;
  color: black;
  border-radius: 5px;
  transition: transform 0.3s, background 0.3s;
}

button:hover {
  transform: scale(1.05);
  background: #ffb84d;
}

/* Responsive */
@media(max-width:600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .hero h1 {
    font-size: 32px;
  }
}